* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
}

.section-1 {
    background: linear-gradient(rgba(30, 38, 72, 0.7), rgba(0, 0, 0, 0.1)), url('../images/background-section-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 10%;
    color: var(--text-color);
}

.list-section-1 {
    list-style-type: none;
}

.container-section-1 {
    width: 80%;
}

.btn-custom {
    width: 100%;
    border-radius: 25px;
    outline-color: transparent !important;
    border: none;
}

.btn-custom:focus {
    outline: none;
    box-shadow: none;
}

.container-custom {
    background-color: #fffcf5;
    color: #000;
    width: 30% !important;
    height: 30%;
    text-align: center;
    padding: 32px !important;
    border-radius: 25px;
}

.container-custom p {
    font-size: 16px;
}

.container-custom-child {
    height: 20%;
}

.icon-section-1 {
    font-size: 30px;
    color: #000;
}

/* section 2 */
.section-2 {
    color: #000;
    padding: 4% 2%;
}

.section2-item {
    border-right: 2px solid #e4e3dd;
}

/* section 3 */
.section-3 {
    background: url('../images/background-section-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    padding: 8% 14%;
}

.section-3 h6 {
    font-weight: 400;
}

/* section 4 */
.section-4 {
    padding: 4% 6%;
    border-bottom: 2px solid #e4e3dd;
}

.section-4 img {
    padding: 4px 8px;
    background-color: var(--text-color);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* section 5 */
.section-5 {
    padding: 6% 8%;
    /* padding-right: 9%; */
    background-color: #fffffd;
    border-bottom: 2px solid #e4e3dd;
}

.logo-section5-custom {
    height: 50%;
}

.section-5 div span {
    font-size: 18px;
    color: #6d6964;
}

.section-5 div img {
    height: 100%;
}

.btn-custom-sec5 {
    background-color: transparent;
    outline: 1px solid #000;
    border-radius: 25px;
    width: 60%;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
}

.mt-custom-section5 {
    margin-top: 100px;
}

/* section 6 */
.section-6 {
    padding: 6% 12%;
}

.section-6 h2 {
    width: 30%;
    line-height: 1.5;
}

.section-6 div {
    background-color: #eef0f2;
    border-radius: 25px;
}

.section-6 div img {
    width: 12%;
}

.section6__padding {
    padding: 4rem 6rem !important;
}

.text-name {
    color: #4c5c74;
    font-size: 24px;
}

.text-intro {
    font-size: 30px;
    font-weight: 500;
}

.navigation-section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-top: 32px;
}

.navigation-section6 i {
    border: 1px solid #000;
    width: auto;
    padding: 10px 16px;
    border-radius: 50%;
}

.prev-section6:hover,
.next-section6:hover {
    cursor: pointer;
    background-color: #eee;
}

/* section 7 */
.section-7 {
    padding: 6% 12%;
    color: #fff;
    background-color: #060911;
}

.content-section7 {
    width: 100%;
    font-size: 20px;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.flex-1 {
    flex: 1 !important;
}

.img-section7 {
    height: 70%;
}

/* section 8 */
.section-8 {
    padding: 4% 18%;
    background-color: #172b67;
    color: var(--text-color);
}

.section-8 div p {
    color: #5065a5;
}

.border-right {
    border-color: #5065a5 !important;
}

.section8-item__hover:hover {
    color: #fff;
    cursor: pointer;
}
